main {
  #understand {
    .row {
      .col_6 {
        .img {
          max-width: 100%;
          img {
            max-width: 100%;
          }
        }
      }
      h1 {
        color: $textbrown;
        width: 103%;
        padding: 30px;
        font-size: 4rem;
      }
      p {
        padding: 30px;
        width: 90%;
        font-size: 162%;
      }
    }
  }
}
