@import "./partials/common.scss";
@import "./partials/footer.scss";
@import "./partials/navbar.scss";
@import "./partials/variabili.scss";
@import "./partials/main.scss";
@import "./partials/header.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
